// Grid
// ------------------------------------------------------------

/* #susy */
$susy: (
  container: 64em,
  columns: 16,
  gutters: 1,
  gutter-position: inside,
  // debug: (
  //   image: show,
  //   color: red,
  //   output: background
  // )
); 

$breakpoint-no-query-fallbacks: false;

// sets clear-fix
// sets max-width & centering margins
.container {
  @include container;
  max-width: 90%;
  
  @include susy-breakpoint($xl, $susy) {
    max-width: $xl;
  }
  
}

.block {
  margin: 1.04167% 0; 
}

.four {
  @include span(16 last);

  @include susy-breakpoint($med, $susy) {
    @include span(4 of 16);
  }
  
}

.eight {
  @include span(8 of 16);

  @include susy-breakpoint($med, $susy) {
    @include span(2 of 16);
  }
  
}
