body {
  background: transparent url('../images/background.jpg') 50% 50% no-repeat;
  background-size: cover;
}

// CONTENT BLOCKS ======================================================

.content-block {
  background: #fff;
}
