// Variables
// ------------------------------------------------------------

/* #colors */
$slate: #e3e3e3;

$base-font: #000;

/* #Breakpoints */
$small : 24em;
$med : 46.8em;
$large : 50em;
$xl : 73em;